<header>
    <nav class="fixed w-full flex font-medium justify-between text-xl bg-gray-900 border-gray-800 border-b-[1px] border-solid px-10 py-4">
        <div>
            <a href="/">Home</a>
        </div>
        <div class="flex justify-end gap-x-10">
            <a href="/blog">Blog</a>
            <a href="/gallery">Gallery</a>
            <a href="/about">About</a>
        </div>
    </nav>
</header>